main {
    margin: 0 .5em 0 .5em;
}
img {
    width: 40%;
    margin: 1em 1em 1em 1em;
}
.results {
    display: flex;
    flex-direction: row;
    margin: .5em .5em .5em 0;
    width: 100%;
    background-color: #3e4a61;
    color: goldenrod;
    padding: .5em 0 .5em 0;
}
.results > p {
    margin-left: 2em;
    margin-bottom: 0;
}
.movies {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.group-a {
    justify-content: space-between;
    align-items: center;
}